/* 
*{
  box-sizing: border-box;
}

.body-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
  height: 100%;
  padding: 0;
}

.user-info{
  display: flex;
  align-items: center;
  justify-content: center;
}


.head{
  display: flex;
  align-items: center;
  justify-content:center;
  width: 100%;
}



.chat-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  height: 600px;
  border: 1px solid black;
}

.chat-cont h1{
  height: 40px;
  margin: 20px;
}

.message-container{
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 1200px;
  height: 500px;
  max-height: 500px;
  overflow-y:scroll;
  scroll-behavior: auto;
  border: 1px solid black;

}

.send-form{
  width: 1200px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  gap: 5px;
  align-items: center;
}

.send-form input{
  width: 100%;
} */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f4f6;
}

.container {
  max-width: 800px;
  margin: 100px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.chat-header .logo {
  font-size: 32px;
  color: #0088cc;
}

.chat-header .btn-leave {
  background-color: #0088cc;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
}

.chat-header .btn-leave i {
  font-size: 18px;

}

.chat-body {
  min-height: 300px;
}

.logo {
  font-size: 32px;
  color: #0088cc;
}

.message-container {
  max-height: 500px;
  overflow-y: auto;
  padding-bottom: 10px;
}

.message {
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  width: fit-content;
}

.input-container {
  display: flex;
  margin-top: 20px;
}

.input-container input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #d3d6db;
}

.input-container .btn-send {
  background-color: #0088cc;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 3px;
  margin-left: 10px;
  cursor: pointer;
}

.input-container .btn-send i {
  font-size: 18px;
}

.btn-send:hover {
  opacity: 0.8;
}
