{% extends 'base.html'%} {% block body%}
<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/register.css')}}"
/>
<div class="container">
  <h1 class="logo">Chat Room</h1>
  <p class="slogan">Create Your Account</p>
  <form class="auth-form" method="POST">
    <input type="text" placeholder="Nickname" name="nickname-input" required />
    <input
      type="password"
      placeholder="Password"
      name="password-input"
      required
    />
    <input
      type="password"
      placeholder="Repeat Password"
      name="repeatpassword-input"
      required
    />
    <div class="buttons">
      <button class="btn btn-register" type="submit">Register</button>
    </div>
  </form>
  <p class="info">
    Already have an account? <a href="{{ url_for('index')}}">Login here</a>.
  </p>
</div>
{% endblock%}
